In [7]:
# Importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException

Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
url=('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [3]:
#Calling the Webdriver
driver=webdriver.Chrome(r"D:\downloadc\chrome downloads\New folder\chromedriver.exe")

In [5]:
driver.get(url)

In [41]:
#Creating Empty Lists
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [42]:
#Scraping Rank
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]"):
            Rank.append(i.text)
Rank=Rank[0:30]#Values beyond 30 are stray values and are not required

In [43]:
#Scraping name
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]"):
            Name.append(i.text)
Name=Name[0:30]#Values beyond 30 are stray values and are not required

In [44]:
#Scraping Artist
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]"):
            Artist.append(i.text)
Artist=Artist[0:30]#Values beyond 30 are stray values and are not required

In [45]:
#Scraping Upload Date
Upload_Date=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]"):
            Upload_Date.append(i.text)
Upload_Date=Upload_Date[0:30]#Values beyond 30 are stray values and are not required

In [46]:
#Scraping Views
Views=[]
for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]"):
            Views.append(i.text)
Views=Views[0:30]#Values beyond 30 are stray values and are not required

In [49]:
#Creating Dataframe
wiki=pd.DataFrame({})
wiki['Rank']=Rank
wiki['Name[1]']=Name
wiki['Artist']=Artist
wiki['Upload Date']=Upload_Date
wiki['Views']=Views
wiki

,Rank,Name[1],Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.85
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.19
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.94
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.73
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.08
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.96
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.61
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.50
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,"April 5, 2018",3.10
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.96
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.95
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.90
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.78
26,27.,"""Waka Waka (This Time for Africa)""[58]",Shakira featuring Freshlyground,"June 4, 2010",2.73
27,28.,"""Perfect""[59]",Ed Sheeran,"November 9, 2017",2.73
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.71
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.62

In [51]:
#Removing stray numbers from names
new = wiki["Name[1]"].str.split("[", n = 1, expand = True) 
new

                                              0    1
0                            "Baby Shark Dance"  28]
1                                   "Despacito"  30]
2                                "Shape of You"  31]
3                               "See You Again"  32]
4                        "Johny Johny Yes Papa"  35]
5    "Masha and the Bear – Recipe for Disaster"  36]
6                                 "Uptown Funk"  37]
7                               "Gangnam Style"  38]
8   "Learning Colors – Colorful Eggs on a Farm"  40]
9                                   "Bath Song"  41]
10                "Phonics Song with Two Words"  42]
11                                      "Sorry"  43]
12                                      "Sugar"  44]
13                                       "Roar"  45]
14                             "Counting Stars"  46]
15                          "Thinking Out Loud"  47]
16                             "Dame Tu Cosita"  48]
17                               "Shake It Off"  49]
18                                      "Faded"  50]
19                                    "Lean On"  51]
20                                   "Bailando"  52]
21                                 "Dark Horse"  53]
22                             "Girls Like You"  54]
23                                 "Let Her Go"  55]
24                                   "Mi Gente"  56]
25                                      "Hello"  57]
26           "Waka Waka (This Time for Africa)"  58]
27                                    "Perfect"  59]
28                                "Blank Space"  60]
29                                   "Chantaje"  61]

In [52]:
#Dropping the column with stray numbers
wiki.drop(columns=['Name[1]'], axis=1, inplace=True)

In [53]:
#Inserting the name column
wiki.insert(1, "Name", new[0])

In [54]:
wiki

,Rank,Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.85
1,2.,"""Despacito""",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.19
2,3.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.94
4,5.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",4.73
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.08
7,8.,"""Gangnam Style""",Psy,"July 15, 2012",3.96
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",3.61
10,11.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",3.50
11,12.,"""Sorry""",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""",El Chombo featuring Cutty Ranks,"April 5, 2018",3.10
17,18.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""",Katy Perry featuring Juicy J,"February 20, 2014",2.96
22,23.,"""Girls Like You""",Maroon 5 featuring Cardi B,"May 31, 2018",2.95
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",2.90
24,25.,"""Mi Gente""",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""",Adele,"October 22, 2015",2.78
26,27.,"""Waka Waka (This Time for Africa)""",Shakira featuring Freshlyground,"June 4, 2010",2.73
27,28.,"""Perfect""",Ed Sheeran,"November 9, 2017",2.73
28,29.,"""Blank Space""",Taylor Swift,"November 10, 2014",2.71
29,30.,"""Chantaje""",Shakira featuring Maluma,"November 18, 2016",2.62

Q2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [58]:
#Setting the url and accessing it from the driver
url=('https://www.bcci.tv/')
driver.get(url)

In [60]:
driver.find_element_by_xpath('//div[@class="navigation__drop-down drop-down drop-down--reveal-on-hover"]').click()

In [61]:
driver.find_element_by_xpath('//a[@class="navigation__link navigation__link--in-drop-down"]').click()

In [63]:
#Declaring empty lists
Title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [64]:
#Scraping Match title
for i in driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']"):
            Title.append(i.text)

In [66]:
#Scraping Series
for i in driver.find_elements_by_xpath("//div[@class='fixture__teams']"):
            Series.append(i.text)

In [76]:
#Scraping Place
for i in driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span"):
            Place.append(i.text)

In [78]:
#Scraping Date
for i in driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span"):
            Date.append(i.text)

In [84]:
#Scraping Month
Date1=[]
for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]"):
            Date1.append(i.text)

In [88]:
#Scraping Time
for i in driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]"):
            Time.append(i.text)

In [92]:
df=pd.DataFrame({})
df['Match Title']=Title
df['Series']=Series
df['Place']=Place
df['Day']=Date
df['Month']=Date1
df['Time']=Time

In [93]:
df['Date']=df['Day']+' '+df['Month']

In [95]:
df.drop(columns=['Day','Month'], axis=1,inplace=True)

In [100]:
df['Series'] = df['Series'].replace('\\n',' ', regex=True)

In [101]:
df

,Match Title,Series,Place,Time,Date
0,2nd Test,INDIA v ENGLAND,"M. A. Chidambaram Stadium, Chennai",09:30 IST,13 FEBRUARY
1,3rd Test,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",14:30 IST,24 FEBRUARY
2,4th Test,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",09:30 IST,04 MARCH
3,1st T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",19:00 IST,12 MARCH
4,2nd T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",19:00 IST,14 MARCH
5,3rd T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",19:00 IST,16 MARCH
6,4th T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",19:00 IST,18 MARCH
7,5th T20I,INDIA v ENGLAND,"Sardar Patel Stadium, Ahmedabad",19:00 IST,20 MARCH
8,1st ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,23 MARCH
9,2nd ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,26 MARCH
10,3rd ODI,INDIA v ENGLAND,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,28 MARCH
11,1st Test,ENGLAND v INDIA,"Trent Bridge, Nottingham",15:30 IST,04 AUGUST
12,2nd Test,ENGLAND v INDIA,"Lord's, London",15:30 IST,12 AUGUST
13,3rd Test,ENGLAND v INDIA,"Headingley, Leeds",15:30 IST,25 AUGUST
14,4th Test,ENGLAND v INDIA,"The Oval, London",15:30 IST,02 SEPTEMBER
15,5th Test,ENGLAND v INDIA,"Old Trafford, Manchester",15:30 IST,10 SEPTEMBER

Q3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [102]:
url=('https://www.guru99.com/')
driver.get(url)

In [103]:
#Clicking on Selenium
driver.find_element_by_xpath('//a[@title="Selenium"]').click()

In [104]:
#Clicking on Exception handling
driver.find_element_by_xpath('//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [117]:
#Declaring empty lists
Name=[]
Description=[]

In [118]:
#Scraping Name
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]"):
            Name.append(i.text)

In [119]:
#Scraping Description
for i in driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]"):
            Description.append(i.text)

In [121]:
df=pd.DataFrame({})
df['Name']=Name
df['Description']=Description
df

,Name,Description
0,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

Q4.\Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
url=('http://statisticstimes.com/')
driver.get(url)

In [9]:
#Clicking on economy
economy=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [10]:
#Clicking on GDP of Indian States
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gd.get_attribute('href'))

In [13]:
#Initialising empty lists
Rank=[]
State=[]
GSDP18=[]
GSDP19=[]
Share17=[]
GDPbillion=[]

In [14]:
rtags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[1]")
for i in rtags:
    Rank.append(i.text)
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [15]:
state_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[2]")
for i in state_tags:
    State.append(i.text)
State

['Maharashtra',
 'Uttar Pradesh',
 'Tamil Nadu',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands',
 'Maharashtra',
 'Uttar Pradesh',
 'Tamil Nadu',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Telangana',
 'Andhra Pradesh',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Jharkhand',
 'Chhattisgarh',
 'Uttarakhand',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Manipur',
 'Sikkim',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [16]:
gsdp18_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[4]")
for i in gsdp18_tags:
    GSDP18.append(i.text)

In [17]:
gsdp19_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[3]")
for i in gsdp19_tags:
    GSDP19.append(i.text)

In [18]:
share17_tags=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[5]")
for i in share17_tags:
    Share17.append(i.text)

In [19]:
gdp=driver.find_elements_by_xpath("//div[@class='dataTables_wrapper']/table/tbody/tr/td[6]")
for i in gdp:
    GDPbillion.append(i.text)

We have repeatition of values after 33, so we will consider only the first 33 while creating our dataframe

In [20]:
df=pd.DataFrame({"Rank":Rank[0:33],
                "State":State[0:33],
                "GSDP(18-19)":GSDP18[0:33],
                "GSDP(17-18)":GSDP19[0:33],
                 "Share(2017)":Share17[0:33],
                 "GDP($ billion)":GDPbillion[0:33]
                })
df

,Rank,State,GSDP(18-19),GSDP(17-18),Share(2017),GDP($ billion)
0,1,Maharashtra,"2,632,792",-,13.88%,398.145
1,2,Uttar Pradesh,"1,668,229","1,794,508",8.79%,252.278
2,3,Tamil Nadu,"1,630,208","1,845,853",8.59%,246.529
3,4,Karnataka,"1,544,399","1,699,115",8.14%,233.552
4,5,Gujarat,"1,502,899",-,7.92%,227.276
5,6,West Bengal,"1,089,898","1,253,832",5.75%,164.820
6,7,Rajasthan,"942,586","1,020,989",4.97%,142.543
7,8,Andhra Pradesh,"862,957","972,782",4.55%,130.501
8,9,Telangana,"861,031","969,604",4.54%,130.210
9,10,Madhya Pradesh,"809,592","906,672",4.27%,122.431
10,11,Kerala,"781,653",-,4.12%,118.206
11,12,Delhi,"774,870","856,112",4.08%,117.180
12,13,Haryana,"734,163","831,610",3.87%,111.024
13,14,Bihar,"530,363","611,804",2.80%,80.204
14,15,Punjab,"526,376","574,760",2.77%,79.601
15,16,Odisha,"492,229","531,374",2.59%,74.437
16,17,Assam,"315,881",-,1.67%,47.769
17,18,Chhattisgarh,"304,063","329,180",1.60%,45.982
18,19,Jharkhand,"297,204","328,598",1.57%,44.945
19,20,Uttarakhand,"245,895",-,1.30%,37.186
20,21,Jammu & Kashmir,"155,956",-,0.82%,23.584
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.265
22,23,Goa,"73,170",-,0.39%,11.065
23,24,Tripura,"49,845","55,358",0.26%,7.538
24,25,Chandigarh,"42,114",-,0.22%,6.369
25,26,Puducherry,"36,656","40,802",0.19%,5.543
26,27,Meghalaya,"33,481","36,572",0.18%,5.063
27,28,Sikkim,"28,723","32,496",0.15%,4.344
28,29,Manipur,"27,869",-,0.15%,4.214
29,30,Nagaland,"27,283",-,0.14%,4.126
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.721
31,32,Mizoram,"19,520",-,0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

Q5:  Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [95]:
url=('https://github.com/')
driver.get(url)

In [96]:
#clicking on trending option through explore menu
trend=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a")
try:
    trend.click()
except ElementNotInteractableException:
    driver.get(trend.get_attribute('href'))

In [104]:
#Initialising Lists
Title=[]
Description=[]
Count=[]
Lang=[]

In [105]:
#Scraping titles
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    Title.append(i.text)

In [106]:
#Scraping description
desc=driver.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
for i in desc:
    Description.append(i.text)

In [107]:
#Scraping Count
count=driver.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/a[2]")
for i in count:
    Count.append(i.text)

In [108]:
#Scraping Language
lang=driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
for i in lang:
    if i.text is None :
        lang.append("--") 
    else:
        Lang.append(i.text)

In [109]:
print(len(Title),len(Description),len(Count),len(lang))

25 25 25 23

In [110]:
#Creating the dataframe
df=pd.DataFrame({"Repository title":Title[0:23],
                "Repository description":Description[0:23],
                "Contributors count":Count[0:23],
                "Language used":Lang[0:23]
                  })
df

,Repository title,Repository description,Contributors count,Language used
0,Melvin-Abraham / Google-Assistant-Unofficial-D...,A cross-platform unofficial Google Assistant C...,54,JavaScript
1,benawad / dogehouse,The home for voice conversations.,125,TypeScript
2,flameshot-org / flameshot,Powerful yet simple to use screenshot software...,600,C++
3,ratfactor / ziglings,Learn the Zig programming language by fixing t...,21,Zig
4,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",246,HTML
5,libsdl-org / SDL,Simple Directmedia Layer,32,C
6,satwikkansal / wtfpython,What the f*ck Python? 😱,"2,140",Python
7,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,19,Rust
8,deepmind / deepmind-research,This repository contains implementations and i...,"1,006",Jupyter Notebook
9,TheAlgorithms / Java,All Algorithms implemented in Java,"11,910",Java
10,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,"16,108",JavaScript
11,skerkour / bloom,The simplest way to de-Google your life and bu...,11,Rust
12,serhii-londar / open-source-mac-os-apps,🚀 Awesome list of open source applications for...,"1,657",Swift
13,PojavLauncherTeam / PojavLauncher_iOS,Minecraft: Java Edition launcher for iOS,13,Java
14,yugedata / Options_Data_Science,"Collecting, analyzing, visualizing & paper tra...",35,Python
15,florisboard / florisboard,An open-source keyboard for Android. Currently...,51,Kotlin
16,vlang / v,"Simple, fast, safe, compiled language for deve...","1,333",V
17,engindemirog / KampFinalProject,Yazılım Geliştirici Yetiştirme Kampı Büyük Proje,31,C#
18,yamashi / CyberEngineTweaks,"Performance boost, bug fixes and hacks for fun...",163,C
19,sorrycc / awesome-javascript,🐢 A collection of awesome browser-side JavaScr...,"3,304",JavaScript
20,arslanbilal / git-cheat-sheet,git and git flow cheat sheet,972,JavaScript
21,freeCodeCamp / freeCodeCamp,freeCodeCamp.org's open source codebase and cu...,"25,393",Python
22,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,891,C++

Q6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billiboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [34]:
url=('https://www.billboard.com/charts/hot-100')

In [35]:
driver.get(url)

In [40]:
#Creating empty lists
Song=[]
Artist=[]
Last_Week_Rank=[]
Peak_Rank=[]
Weeks_on_board=[]

In [41]:
#Scraping Song Name
ntag=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in ntag:
    if i.text is None :
        Song.append("--") 
    else:
        Song.append(i.text.replace("/"," "))

In [42]:
#Scraping Artist
atag=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in atag:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)

In [43]:
#scraping last week rank
last_rank_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
for i in last_rank_tag:
    if i.text is None :
        Last_Week_Rank.append("--") 
    else:
        Last_Week_Rank.append(i.text)

In [45]:
#scraping peak rank
peak_tag=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
for i in peak_tag:
    if i.text is None :
        Peak_Rank.append("--") 
    else:
        Peak_Rank.append(i.text)

In [46]:
#Scraping Weeks on board
wob=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
for i in wob:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)

In [47]:
#Creating the dataframe
df=pd.DataFrame({})
df["Song name"]=Song
df["Artist name"]=Artist
df["Last week rank"]=Last_Week_Rank
df["Peak rank"]=Peak_Rank
df["Weeks on board"]=Weeks_on_board    
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

Q7.Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [48]:
url=('https://www.naukri.com/')

In [49]:
driver.get(url)

In [50]:
Name=[]
Designation=[]
Company=[]
Skills=[]
Location=[]

In [53]:
# click recruiter option
# getting recruiters url
recruiters=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a").get_attribute('href')
# navigating to recruiters page
driver.get(recruiters)
# finding serach bar and entering 'Data science ' in it
driver.find_element_by_xpath("//input[@class='sugInp']").send_keys('Data Science')
# finding search button and clicking it
driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()

In [55]:
#Scraping name
ntags=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in ntags:
    Name.append(i.text)
#Scraping Designation
dtags=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in dtags:
    Designation.append(i.text)
#Scraping company
ctags=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in ctags:
    Company.append(i.text)
#Scraping Skills
stags=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in stags:
    Skills.append(i.text)
#Scraping Location
ltags=driver.find_elements_by_xpath("//small[@class='ellipsis']")
for i in ltags:
    Location.append(i.text)

In [56]:
df=pd.DataFrame({"Name":Name[0:15],
                "Company":Company[0:15],
                "Skills/they hired for":Skills[0:15],
                "Location":Location[0:15],
                 "Designation":Designation[0:15]
                  })
df

,Name,Company,Skills/they hired for,Location,Designation
0,Aakash Harit,Aakash Harit,"Classic ASP Developer, Internet Marketing Prof...",Delhi,HR Manager
1,shravan Kumar Gaddam,Data Science Network,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad,Company Recruiter
2,Talent Acquisition Executive,shravan Kumar Gaddam,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh,Recruitment Professional
3,Anik Agrawal,Shore Infotech India Pvt. Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad,Company Recruiter
4,MARSIAN Technologies LLP,Talent Acquisition Executive,"Data Science, Artificial Intelligence, Machine...",Pune,Company HR
5,subhas patel,XenonStack,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london),Founder CEO
6,Jitendra Singh,Anik Agrawal,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi,Manager- Talent Acquisition
7,Abhishek - Only Analytics Hiring - India and,Enerlytics Software Solutions Pvt Ltd,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda,Recruitment Lead Consultant
8,Institute for Financial Management and Resear,MARSIAN Technologies LLP,Data Science,Chennai,Programme Manager
9,Balu Ramesh,MARSIAN Technologies LLP,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum,HR Administrator
10,Asif Lucknowi,subhas patel,"Technical Training, Software Development, Pres...",Indore,Director
11,InstaFinancials,LibraryXProject,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore,Human Resource
12,Kalpana Dumpala,Jitendra Singh,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad,Executive Hiring
13,Mubarak,Compunnel Technology India Pvt. Ltd,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore,Company HR
14,Kushal Rastogi,Abhishek - Only Analytics Hiring - India and,"Office Administration, Hr Administration, tele...",Mumbai,Company HR

Q8.Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [65]:
url=('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')
driver.get(url)

In [58]:
#Creating empty lists
Book=[]
Author=[]
Volumes=[]
Publisher=[]
Genre=[]

In [66]:
#Scraping Book Name
btags=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")
for i in btags:
    Book.append(i.text)
#Scraping Author
atags=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")
for i in atags:
    Author.append(i.text)
#Scraping Volumes
vtags=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")
for i in vtags:
    Volumes.append(i.text)
#Scraping Publisher
ptags=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")
for i in ptags:
    Publisher.append(i.text)
#Scraping Genre
gtags=driver.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")
for i in gtags:
    Genre.append(i.text)

In [68]:
df=pd.DataFrame({"Name":Book,
                "Author":Author,
                "volumes sold":Volumes,
                "Publisher":Publisher,
                 "Genre":Genre
                  })
df

,Name,Author,volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q9.Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [69]:
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [83]:
#Creating Empty Lists
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [84]:
#Scraping names
ntags=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in ntags:
    Name.append(i.text)
#Scraping Year Span
ytags=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in ytags:
    Year_span.append(i.text)
#Scraping genre
gtags=driver.find_elements_by_xpath("//span[@class='genre']")
for i in gtags:
    Genre.append(i.text)
#Scraping Run_time
rtags=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in rtags:
    Run_time.append(i.text)
#Scraping Ratings
r2tags=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']")
for i in r2tags:
    Ratings.append(i.text)
#Scraping Votes
vtags=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[2]")
for i in vtags:
    Votes.append(i.text)

In [76]:
print(len(Name),len(Year_span),len(Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 200

In [78]:
Votes[0:10]

['|',
 '1,770,322',
 '|',
 '822,472',
 '|',
 '853,502',
 '|',
 '256,223',
 '|',
 '216,500']

In [85]:
#Removing stray values from votes and creating a new list
Votes1=[]
n=0
for i in Votes:
    if n%2==1:
        Votes1.append(i)
    n=n+1

In [87]:
len(Votes1)

100

In [88]:
df=pd.DataFrame({})
df['Name']=Name
df['Year_span']=Year_span
df['Genre']=Genre
df['Run time']=Run_time
df['Ratings']=Ratings
df['Votes']=Votes1
df

,Name,Year_span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,770,322"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,472"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,502"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,223"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,500"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,595"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,876"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,253"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,099"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,430"

Q10: Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [121]:
url=('https://archive.ics.uci.edu/')
driver.get(url)

In [123]:
#Clicking on Show ml datasets
ml=driver.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b")
try:
    ml.click()
except ElementNotInteractableException:
    driver.get(show.get_attribute('href'))

In [124]:
#Initialising empty lists
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_instances=[]
No_attribute=[]
Year=[]

In [125]:
#Storing rows in a variable
rows=driver.find_elements_by_xpath("//table[2]/tbody[1]/tr[1]/td[2]/table[2]/tbody/tr")[1:]

In [127]:

for row in rows:
    #Scraping dataset name
    try: Dataset_name.append(row.find_element_by_xpath(".//td[1]").text)
    except: Dataset_name.append('NA')
    #Scraping data type
    try: Data_type.append(row.find_element_by_xpath(".//td[2]").text)
    except: Data_type.append('NA')
    #Scraping task
    try: Task.append(row.find_element_by_xpath(".//td[3]").text)
    except: Task.append('NA')
    #Scraping attributes type
    try: Attribute_type.append(row.find_element_by_xpath(".//td[4]").text)
    except: Attribute_type.append('NA')
    #Scraping no of instances
    try: No_instances.append(row.find_element_by_xpath(".//td[5]").text)
    except: No_instances.append('NA')
    #Scraping no of attributes
    try: No_attribute.append(row.find_element_by_xpath(".//td[6]").text)
    except: No_attribute.append('NA')
    #Scraping year
    try: Year.append(row.find_element_by_xpath(".//td[7]").text)
    except: Year.append('NA')

In [128]:
#Creating the dataframe
df=pd.DataFrame({"Name":Dataset_name,
                "Year":Year,
                "Data type":Data_type,
                "Attribute_type":Attribute_type,
                 "Task":Task,
                 "No of instances":No_instances,
                 "No of atrributes":No_attribute
                  })
df

,Name,Year,Data type,Attribute_type,Task,No of instances,No of atrributes
0,Abalone,1995,Abalone,"Categorical, Integer, Real",Classification,4177,8
1,Adult,1996,Adult,"Categorical, Integer",Classification,48842,14
2,Annealing,,Annealing,"Categorical, Integer, Real",Classification,798,38
3,Anonymous Microsoft Web Data,1998,Anonymous Microsoft Web Data,Categorical,Recommender-Systems,37711,294
4,Arrhythmia,1998,Arrhythmia,"Categorical, Integer, Real",Classification,452,279
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,2020,IIWA14-R820-Gazebo-Dataset-10Trajectories,Integer,Regression,,
555,Guitar Chords finger positions,2020,Guitar Chords finger positions,,Classification,2633,5
556,Russian Corpus of Biographical Texts,2020,Russian Corpus of Biographical Texts,,Classification,200,2
557,Codon usage,2020,Codon usage,,"Classification, Clustering",13028,69
558,Intelligent Media Accelerometer and Gyroscop...,2020,Intelligent Media Accelerometer and Gyroscope ...,Real,Classification,800,9